* {
    box-sizing: border-box;
}
:root {
    font-family: "Roboto", sans-serif;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-y: hidden;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

button.p-button:disabled {
    cursor: not-allowed!important;
}

.layout-theme-light {
    background-color: #edf1f5;
}
